<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (typeof title != "undefined" ? title : "") %></title>
    <!-- bootstrap, jquery, popper-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- vue.js -->
    <script src="/js/vue_development.js"></script>
    <!-- elementUI -->
    <link rel="stylesheet" href="/stylesheets/elementui.css">
    <script src="/js/elementui.js"></script>
    <!-- translate to chinese traditional -->
    <script src="/locale/zh-TW.min.js"></script>
    <script>
        ELEMENT.locale(ELEMENT.lang.zhTW)
    </script>
    <!-- axios -->
    <script src="/js/axios.min.js"></script>
    <!-- font-awesome -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    
    <style>
        @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
        body{
            font-family: ‘Noto Sans TC’, sans-serif;
        }
    </style>
</head>
<body>
    <%- include ../components/navbar.ejs %>
    <%- content %>
    <!-- footer -->
    <%- include ../components/footer.ejs %>
</body>
</html>