<% extend('./layouts/default')%>
<div class="container mt-2 mb-2">
  <div id="sign_up">
    <div class="form-group">
      <label for="inputAccount">帳號</label>
      <input type="text" class="form-control" id="inputAccount" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="inputPassword">密碼</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>
    <button type="submit" class="btn btn-primary">註冊</button>
  </div>
</div>

<script>
  new Vue({
    el: '#sign_up',
    created(){

    },
    data: {

    },
    methods: {
      singupButtonClicked(){
        // id, name, account, password, is_admin, status, 
      }
    },
    computed: {

    }
  })
</script>