<% extend('../layouts/default')%>
<style>
    @import url('/stylesheets/dashboard.css');
</style>
<div class="container-fluid">
    <div class="row">
    <%- include ./nav.ejs %>
    <%- include ./main.ejs %>
    </div>
</div>