<main role="main" class="col-md-10 col-sm-12" style="margin-top: -30px;">
<%- include ./add_home_quarantine %>
<%- include ./health_status_info_center.ejs %>

<%- include ./add_health_status.ejs %>
<%- include ./_dashboard.ejs %>
</main>